.priceSlider{
    width:300px
}

.mat-form-field{
    width:200px
}
.ageSlider{
    width: 200px
}
.areaSlider{
    width:200px
}

.textArea{
    width:300px
}
.cad1{
    box-shadow: 10px;
}

.margin{
    margin-left: 52px
}
::ng-deep .mat-tooltip{
    background-color:black;
    color:white;
    height: 50%;
    font-size: 13px;
}
.card{
    margin : 0 auto;
    float: none;
    margin-top:1px;

}

.c{
    margin-top:90px
    
}
.card1{
      /* align-content: flex-start; */
        max-width: 300px;
}

.card2{
    /* align-content: flex-start; */
      max-width: 300px;
}
.container-fluid{
    height:800px
}
.head{
    margin-top: 90px;
}

