<div class="bg-style"><br><br>
  <marquee class="mq" behavior="scroll" direction="right" width="100%">
  <h1 class="text-center" style="color:violet"> Welcome To InfyMansions</h1>
  </marquee>
  <br><br>


<div>
<div class="row container-fluid">
  <div class="col-md-6 offset-3">
      <div class="example-container">
          <mat-form-field>
  <mat-select placeholder="Search Here" (click)="search()">
<mat-option [value]="e.area" *ngFor="let e of loc" (click)="show_property(e.area)">{{e.area}}</mat-option>
  </mat-select>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
</div>
</div>
</div>
</div>
</div>
