#bg-style{
background-size: cover;
background-position:  center;
position: relative;
height: 350px;

}

/* .new{
  margin-top: 60px;
  display: flex;
  font-weight: 1000;
}

.card{
align-content: center;
margin-bottom: 80px;
} */

.example-container {
background-color:white;
font-size: 25px;
size: 25px;
display: flex;
flex-direction: column;    
}
  
.example-container  {
  width: 100%;
}
.mq{
  margin-top:  50px;
}
  
